body {
  font-size: 20;
  color: wheat;
  font-family: "Roboto", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
  text-align: center;
}

.table-game {
  max-width: 360px;
  border-radius: 10px;
  margin: 10px auto;
  padding: 5px;
}

@media (max-height: 770px) and (min-width: 870px) {
  .table-game {
    margin-top: 50px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 60px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: "title title" "croupier player";
  }
  .table-game .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: title;
  }
  .table-game .croupier {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: croupier;
    min-width: 330px;
  }
  .table-game .player {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: player;
    min-width: 330px;
  }
}

@media (max-width: 460px) {
  .table-game .croupier {
    height: 25px;
  }
  .table-game #message-el {
    font-size: 18px;
  }
  .table-game .title {
    font-size: 20px;
  }
  .table-game .croupier-cards,
  .table-game .croupier-sum {
    display: none;
  }
  .table-game #croupier-el,
  .table-game #player-el {
    margin: 5px 0;
  }
  .table-game .player-sum {
    top: 60px;
  }
}

@media (max-width: 360px) {
  .table-game .title {
    display: none;
  }
}

@media (max-width: 318px) {
  .table-game .btn-panel {
    display: block;
  }
}

.menu {
  position: absolute;
  left: 15px;
  top: 10px;
  cursor: pointer;
}

.title {
  font-size: 38px;
}

.croupier,
.player {
  border: 1px solid wheat;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 10px;
}

.croupier {
  background: #002a04;
}

.player {
  background: #470606;
}

.croupier-cards,
.player-cards {
  height: 146px;
}

h1 {
  color: wheat;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 0;
  margin: 0 0 10px 0;
}

#message-el {
  font-size: 22px;
  color: wheat;
  margin: 10px 15px 10px 15px;
  padding: 5px 0;
  border: 1px solid wheat;
  border-radius: 5px;
}

.player-sum,
.croupier-sum {
  font-size: 36px;
  font-weight: bold;
  margin: 5px auto 20px;
  padding: 10px;
  border: 1px solid wheat;
  color: wheat;
  border-radius: 8px;
  background: black;
  position: absolute;
  left: 40%;
  z-index: 2;
  height: 45px;
  width: 45px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 2, 0.8);
          box-shadow: 0 0 20px rgba(0, 0, 2, 0.8);
}

.player-sum,
.croupier-sum {
  top: 70px;
}

.btn-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.radio-btn-panel {
  margin: 5px auto;
  max-width: 290px;
}

button {
  display: block;
  margin: 8px auto;
  width: 130px;
  padding: 10px;
  border: none;
  border: 1px solid wheat;
  background: transparent;
  color: wheat;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #940222;
}

button:active {
  background: #74011a;
}

#chips-el {
  padding: 8px;
  margin: 5px auto;
  border: 1px solid wheat;
  border-radius: 5px;
  max-width: 110px;
  cursor: pointer;
  font-size: 14px;
}

#chips-el:hover {
  background: #000;
}

#chips-el:active {
  background: #333333;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  border: 2px solid #999;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

input:checked {
  border: 3px solid #1dca06;
}

.image-card {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: imgStart;
          animation-name: imgStart;
}

@-webkit-keyframes imgStart {
  from {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  to {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes imgStart {
  from {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  to {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

.log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  margin-left: -300px;
  width: 300px;
  height: 100%;
  left: 0;
  top: 0;
  background: #d6d6d6;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 2, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 2, 0.5);
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.log__header {
  margin-top: 0px;
  background: #002a04;
  height: 45px;
}

.log__header .log__title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
}

.log__header .log__btn-close {
  position: absolute;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  z-index: 3;
}

.log__header .log__btn-delete {
  position: absolute;
  top: 9px;
  left: 15px;
  cursor: pointer;
  z-index: 3;
}

.log .log__body {
  overflow: auto;
}

.log__record {
  text-align: left;
  margin: 5px 0 5px 20px;
  font-size: 12px;
  color: #221e1e;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: recordStart;
          animation-name: recordStart;
}

@-webkit-keyframes recordStart {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 20px;
  }
}

@keyframes recordStart {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 20px;
  }
}
