body {
    font-size: 20;
    // background-image: url("./img/bg.png");
    // background-size: cover;
    // background: linear-gradient(90deg, #15570f, #0a7926, #15570f);
    color: wheat;
    font-family: "Roboto", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva",
        "Verdana", sans-serif;
    text-align: center;
}

.table-game {
    max-width: 360px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
    @media (max-height: 770px) and (min-width: 870px) {
        margin-top: 50px;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: "title title" "croupier player";
        .title {
            grid-area: title;
        }
        .croupier {
            grid-area: croupier;
            min-width: 330px;
        }
        .player {
            grid-area: player;
            min-width: 330px;
        }
    }
    @media (max-width: 460px) {
        .croupier {
            height: 25px;
        }
        #message-el {
            font-size: 18px;
        }
        .title {
            font-size: 20px;
        }
        .croupier-cards,
        .croupier-sum {
            display: none;
        }
        #croupier-el,
        #player-el {
            margin: 5px 0;
        }
        .player-sum {
            top: 60px;
        }
    }
    @media (max-width: 360px) {
        .title {
            display: none;
        }
    }
    @media (max-width: 318px) {
        .btn-panel {
            display: block;
        }
    }
}

.menu {
    position: absolute;
    left: 15px;
    top: 10px;
    cursor: pointer;
}

.title {
    font-size: 38px;
}

.croupier,
.player {
    border: 1px solid wheat;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
}

.croupier {
    background: #002a04;
}

.player {
    background: rgb(71, 6, 6);
}

.croupier-cards,
.player-cards {
    height: 146px;
}

h1 {
    color: wheat;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 0;
    margin: 0 0 10px 0;
}
#message-el {
    font-size: 22px;
    color: wheat;
    margin: 10px 15px 10px 15px;
    padding: 5px 0;
    border: 1px solid wheat;
    border-radius: 5px;
}

.player-sum,
.croupier-sum {
    font-size: 36px;
    font-weight: bold;
    margin: 5px auto 20px;
    padding: 10px;
    border: 1px solid wheat;
    color: wheat;
    border-radius: 8px;
    background: black;

    position: absolute;
    left: 40%;
    z-index: 2;
    height: 45px;
    width: 45px;
    box-shadow: 0 0 20px rgba(0, 0, 2, 0.8);
}

.player-sum,
.croupier-sum {
    top: 70px;
}

.btn-panel {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
}

.radio-btn-panel {
    margin: 5px auto;
    max-width: 290px;
}

button {
    display: block;
    margin: 8px auto;
    width: 130px;
    padding: 10px;
    border: none;
    border: 1px solid wheat;
    background: transparent;
    color: wheat;
    // font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
        background: rgb(148, 2, 34);
    }
    &:active {
        background: rgb(116, 1, 26);
    }
}

#chips-el {
    padding: 8px;
    margin: 5px auto;
    border: 1px solid wheat;
    border-radius: 5px;
    max-width: 110px;
    cursor: pointer;
    font-size: 14px;
    &:hover {
        background: #000;
    }
    &:active {
        background: rgb(51, 51, 51);
    }
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 13px;
    height: 13px;

    border: 2px solid #999;
    transition: 0.2s all linear;
}

input:checked {
    border: 3px solid rgb(29, 202, 6);
}

.image-card {
    animation-duration: 0.5s;
    animation-name: imgStart;
}

@keyframes imgStart {
    from {
        // filter: opacity(30%);
        transform: scale(105%);
    }

    to {
        // filter: opacity(100%);
        transform: scale(100%);
    }
}

.log {
    display: flex;
    flex-flow: column;
    position: absolute;
    margin-left: -300px;
    width: 300px;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(214, 214, 214);
    box-shadow: 0 0 10px rgba(0, 0, 2, 0.5);
    z-index: 3;
    transition: 0.5s;
}

.log__header {
    margin-top: 0px;
    background: #002a04;
    height: 45px;
}

.log__header .log__title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.log__header .log__btn-close {
    position: absolute;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    z-index: 3;
}

.log__header .log__btn-delete {
    position: absolute;
    top: 9px;
    left: 15px;
    cursor: pointer;
    z-index: 3;
}

.log .log__body {
    overflow: auto;
}

.log__record {
    text-align: left;
    margin: 5px 0 5px 20px;
    font-size: 12px;
    color: rgb(34, 30, 30);
    animation-duration: 0.5s;
    animation-name: recordStart;
}

@keyframes recordStart {
    from {
        margin-left: -300px;
    }

    to {
        margin-left: 20px;
    }
}
